In [1]:
import requests 
from bs4 import BeautifulSoup
import csv
import pandas as pd

In [31]:
phn_nm=[]
phn_pr=[]
phn_dis=[]
phn_rating=[]


page_num=input('enter the num of pages data you want')
for i in range(1,int(page_num)+1):
    url="https://www.flipkart.com/search?q=mobile+&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(i)
    req=requests.get(url)
    content=BeautifulSoup(req.content,'html.parser')
    name=content.find_all('div',{'class':'_4rR01T'})
    price=content.find_all('div',{'class':'_30jeq3 _1_WHN1'})
    discount=content.find_all('div',{'class':'_3Ay6Sb'})
    rating=content.find_all('div',{'class':'_3LWZlK'})

    for i in name:
        phn_nm.append(i.text)
    for i in price:
        phn_pr.append(i.text)
    for i in discount:
        phn_dis.append(i.text)
    for i in rating:
        phn_rating.append(i.text)

enter the num of pages data you want3

In [32]:
data={'Mobile name':phn_nm,'Mobile Price':phn_pr}
df=pd.DataFrame(data)
df

                                Mobile name Mobile Price
0         realme C25Y (Glacier Blue, 64 GB)      ₹10,999
1           realme C25Y (Metal Grey, 64 GB)      ₹10,999
2    realme Narzo 50A (Oxygen Blue, 128 GB)      ₹12,499
3    realme Narzo 50A (Oxygen Green, 64 GB)      ₹11,499
4   realme Narzo 50A (Oxygen Green, 128 GB)      ₹12,499
..                                      ...          ...
67       Infinix Hot 10S (7° Purple, 64 GB)      ₹10,999
68          MOTOROLA e40 (Pink Clay, 64 GB)       ₹9,999
69       realme C11 2021 (Cool Grey, 32 GB)       ₹7,499
70       realme C11 2021 (Cool Blue, 32 GB)       ₹7,499
71   MOTOROLA E7 Power (Tahiti Blue, 64 GB)       ₹8,999

[72 rows x 2 columns]

TypeError: insert() missing 1 required positional argument: 'value'